body {
    margin: 0;
    background-color: #4A90E2; 
    display: flex;
    justify-content: center; 
}
  
.main-container {
    margin-top: 100px;        
    width: 600px;            
    height: 400px;            

    display: grid;
    grid-template-columns: 340px 250px; /* px of columns */
    grid-template-rows: 1fr 2fr; /* proportion of login and sign up */
    gap: 10px; /* gap between grids */
}
  
.logo-section {
    grid-row: 1 / span 2; 
    background: white;
    border: 2px solid black;
}

/* adjust the size of image */
.logo-section img { 
    width: 90%;       
    height: auto;      
    display: block;    
    margin: 20px auto;
}
  
.login-section, .signup-section {
    background: white;
    border: 2px solid black;
}
  
.main-container h2 {
    font-size: 14px;   
    margin: 10px 0;    
    text-align: center;
}

.main-container form {
    font-size: 10px;   
    padding: 0 5px;   
}

.main-container input, 
.main-container select {
    font-size: 10px;
    padding: 3px;
    margin-bottom: 8px; 
}

.main-container > div {
    padding-left: 10px;   
    box-sizing: border-box;
}

/* button default */
.tab-link {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* selected */
.tab-link.active {
    background-color: #ccc;
    font-weight: bold;
    border-bottom: 2px solid blue;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 20px;
}

.message-item {
    background: #f9f9f9;
    border-bottom: 1px inset #eee;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}